﻿@model ReadLater5.Models.CategoryDeleteModel
@using System.Text

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this category?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    @if (Model.BookmarksToUncategorize?.Count() > 0)
    {
        var stringBuilder = new StringBuilder();
        foreach (var bookmark in Model.BookmarksToUncategorize)
        {
            stringBuilder.Append(bookmark.ShortDescription + ", ");
        }
        var uncategorizedBookmarks = stringBuilder.ToString();
        uncategorizedBookmarks = uncategorizedBookmarks.Substring(0, uncategorizedBookmarks.Length - 2);

        <dl class="dl-horizontal">
            <dt>
                These bookmarks will be uncategorized:
            </dt>
            <dd>
                @uncategorizedBookmarks
            </dd>
        </dl>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>