﻿@model Entity.Bookmark

<dl class="dl-horizontal">
    <dt>@Html.DisplayName("Short Description")</dt>
    <dd>@Html.DisplayFor(model => model.ShortDescription)</dd>

    <dt>@Html.DisplayName("Category name")</dt>
    <dd>@Html.DisplayFor(model => model.Category.Name)</dd>

    <dt>@Html.DisplayName("URL")</dt>
    <dd>@Html.DisplayFor(model => model.URL)</dd>

    <dt>@Html.DisplayName("Create date")</dt>
    <dd>@Html.DisplayFor(model => model.CreateDate)</dd>
</dl>
