﻿@model ReadLater5.Models.BookmarkModel

<div class="form-group">
    @Html.LabelForModel("Short description", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.BookmarkDescription, new { htmlAttributes = new { @class = "form-control" } })<br />
        @Html.ValidationMessageFor(model => model.BookmarkDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelForModel("URL", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BookmarkURL, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BookmarkURL, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelForModel("Category name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control single-line", @list = "availableCategoriesList" } })
        <datalist id="availableCategoriesList">
            @foreach (string categoryName in ViewData["AvailableCategoryNames"] as IEnumerable<string>)
            {
                <option value="@categoryName"></option>
            }
        </datalist>
        @Html.LabelForModel("", htmlAttributes: new { @class = "control-label col-md-5", @id = "createNewCategoryLabel" })
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#CategoryName").on('input propertychange', function () {
            var categoryName = $(this).val();
            if (categoryName.length <= 0) {
                $("#createNewCategoryLabel").text("No category will be selected");
            }
            else {
                var createNewCategory = $("#availableCategoriesList option").filter(function () {
                    return this.value == categoryName;
                }).length == 0;

                if (createNewCategory) {
                    $("#createNewCategoryLabel").text("New category will be created");
                }
                else {
                    $("#createNewCategoryLabel").text("Existing category will be selected");
                }
            }
        });
        $("#CategoryName").trigger('input');
    });
</script>